{% include 'header.html.twig' %}

<div class="breadcrumbs">
    <a href="/">Home</a> &nbsp;&#47;&nbsp; 
        <a href="{{ path('category', {'id': category.id}) }}">{{ category.name }}</a>
</div>

<div class="container">
        <div class="main">
            <h1>Featured Content</h1>
            <p>Your main content goes here.</p>
        </div>


{% for post in posts %}
    <div>
    {{ post.name }}
    {{ post.longText }}
    </div>
{% endfor %}


{% include 'footer.html.twig' %}