{% include 'header.html.twig' %}

<div class="breadcrumbs">
    <a href="/">Home</a> &nbsp;&#47;&nbsp; 
    <a href="/register">Register</a>
</div>

<form action="/register" method="POST">
    <input type="text" name="username">
    <input type="email" name="email">
    <input type="password" name="password">
    <input type="submit">
</form>

{% include 'footer.html.twig' %}